<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h2>User info</h2>
		    <%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size:'100x100' %>


		    <table class="table">
				<tbody>
					<tr>
						<th>name</th>
						<th><%= current_user.name %></th>
					</tr>
					<tr>
						<td>introduction</td>
						<td><%= current_user.introduction %></td>
					</tr>
					<tr>
						<td>follows</td>
						<td ><%= link_to current_user.followings.count, follows_user_path(current_user.id) %></td>
					</tr>
					<tr>
						<td>followers</td>
						<td><%= link_to current_user.followers.count, followers_user_path(current_user.id) %></td>
					</tr>
				</tbody>
			</table>



			<div class="row edit">
				<%= link_to edit_user_path(current_user) do %>
				<span class="col-xs-12 btn btn-default glyphicon glyphicon-wrench" aria-hidden="true"></span>
				<% end %>
			</div>


		    <div class="row form">
		      <h2 class="side-newbook">New book</h2>
		      <%= form_for(@book) do |f| %>
		      <% if @book.errors.any? %>
		      <h3><%= @book.errors.count %> error</h3>
		      <ul>
			    <% @book.errors.full_messages.each do |message| %>
			    <%= message %>
			  <% end %>
		      </ul>
              <% end %>
		      <div>
		        <h4>title</h4>
		        <%= f.text_field :title, class: "col-xs-12 book_title"%>
		      </div>
		      <div>
		        <h4>opinion</h4>
		        <%= f.text_area :body, class: "col-xs-12 book_body" %>
		      </div>
		      <div class="">
		        	<%= f.submit 'Create Book', class: "btn btn-primary col-xs-12 side-create" %>
		      </div>
		      <% end %>
		    </div>
	    </div>

		<div class="col-xs-9">
			<h2>Books</h2>
			<table class="table table-hover table-inverse">
				<thead>
					<tr>
						<th></th>
						<th>title</th>
						<th>opinion</th>
						<th colspan="3"></th>
					</tr>
				</thead>
				<% @books.each do |book| %>
				<tbody>
					<tr>
						<td><%= link_to user_path(book.user.id) do %><!-- ログインする前に作った投稿があると各userを認識しなくなる。idを探すからidがない物があるとどれがどれか分からなくなり認識しない -->
							<%= attachment_image_tag book.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %>
							<% end %>　　　　　　<!-- 画像がある場所 画像がのカラム名-->
						</td>
						<td><%= link_to book.title, book_path(book.id)%></td>
						<td><%= book.body %></td>
						<td id="favorites_buttons_<%= book.id %>">　　<!-- どのボタンかを変数を使って判断してる -->
							<%= render 'favorites/favorite', book: book %>
					    </td>
					    <td>コメント数: <%= book.book_comments.count %></td>
					</tr>
				</tbody>
				<% end %>
			</table>
		</div>
	</div>
</div>





